<h1>Perfil do Usuário</h1>
<h5><strong> Nome:</strong> {{profile.name}} </h5>
<div class="row">
    <div class="col-md-2">
        <img class="thumbnail" style="width:100%" src="{{profile.picture}}">
    </div>
    <div class="col-md-8">
        <ul class="list-group-item">
            <li>Apelido:<strong> {{profile.nickname}} </strong></li>
            <li>Email:<strong> {{profile.email}} </strong></li>
            <li>Última atualização do Perfi:<strong> {{profile.updated_at}} </strong></li>
            <li>Email verificado:<strong> {{profile.email_verified}} </strong></li>
        </ul>
    </div>
</div>