/* You can add global styles to this file, and also import other style files */
.col-md-6 {
   border: 2px solid; 
   border-color: #FFFFFF
}

.col-md-12 {
   border: 2px solid; 
   border-color: #FFFFFF
}

form {
    border: 2px solid; 
   border-color: #FFFFFF
}